{% extends 'layouts/app.twig' %}

{% block content %}
    <div class="section">
        <div class="container">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-centered">
                    Change password
                </h3>

                {% include 'components/status.twig' %}
                
                <form action="{{ url_for('account.password') }}" method="post">
                    {{ csrf() | raw }}

                    <div class="field">
                        <label class="label">Current password</label>
                        <div class="control">
                            <input class="input{{ errors.current_password ? ' is-danger' : '' }}" type="password" name="current_password">
                        </div>

                        {% if errors.current_password %}
                            <p class="help is-danger">
                                {{ errors.current_password | first }}
                            </p>
                        {% endif %}
                    </div>

                    <div class="field">
                        <label class="label">New password</label>
                        <div class="control">
                            <input class="input{{ errors.password ? ' is-danger' : '' }}" type="password" name="password">
                        </div>

                        {% if errors.password %}
                            <p class="help is-danger">
                                {{ errors.password | first }}
                            </p>
                        {% endif %}
                    </div>

                    <div class="control">
                        <button type="submit" class="button is-info">
                            Change
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
